doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        div.container
            header.header
                div.header__User-search
                    div.header__User-search-wrapper
                        img.header__User-search-img(src="/assets/icons/search/search.svg", alt="")
                        input.header__User-search-input(type="search")
                nav.header__navigation 
                    li.header__navigation-items(class=path === '/' ? 'active' : '')
                        a.header__navigation-link(href="/") home
                    li.header__navigation-items(class=path === '/signIn' ? 'active' : '')
                        a.header__navigation-link(href="/signIn") signIn
                    li.header__navigation-items(class=path === '/signUp' ? 'active' : '')
                        a.header__navigation-link(href="/signUp") signUp

                div.header__profile-user
                    div.header__profile-user-wrapper 
                        img.header__profile-user-profile(src="/assets/icons/users/user.svg", alt="")
                        div.header__profile-user-username
                            h3 #{username} 
                            p #{family}
                    div.info__user-modal
                        div.info__user-username
                            h4 username:
                            p #{username} 
                        div.info__user-age
                            h4 age:
                            p #{age}
                        div.info__user-family
                            h4 family:
                            p #{family}
                        div.info__user-name
                            h4 name:
                            p #{name}


            block content 
            

            footer.footer
                div.social
                    li.social__items(data-bg="#F15B5B")
                        a(href="https://www.instagram.com/_medishn_/").social__items-links
                            img(src="/assets/icons/social/instagram.svg", alt="instagram")
                    li.social__items(data-bg="#06C1FF")
                        a(href="https://t.me/m_mdy_m").social__items-links
                            img(src="/assets/icons/social/telegram.svg", alt="telegram")
                    li.social__items(data-bg="#51D4FF")
                        a(href="https://twitter.com/shaggy__83").social__items-links
                            img(src="/assets/icons/social/twitter.svg", alt="twitter")
                div.company
                div.creator 
    script(src="/js/header.js") 
    script(src="/js/footer.js") 
    block scripts 